# Tutorial 3 - Multidimensional arrays in NumPy


*Written and revised by Jozsef Arato, Mengfan Zhang, Dominik Pegler*  
Computational Cognition Course, University of Vienna  
https://github.com/univiemops/tewa1-computational-cognition

---

What this tutorial will cover:

- 2D arrays
- Random number generation
- Matplotlib data visualizations

---

## 1. Import libraries

In [ ]:
import numpy as np
from matplotlib import pyplot as plt

## 2. 2-dimensional arrays
A NumPy array can be multidimensional, and 2D arrays are really common. We can think of a 2D array as a table of numbers (matrix). NumPy can also easily handle 3D, 4D etc. arrays. Why would someone need to use arrays that have more than 2 dimensions (think of examples)?

Here we create a 2D array "manually".

In [ ]:
first2_d = np.array([[1, 20, 6], [40, 5, 70], [55, 23, 12], [78, 11, 22]], dtype=float)
first2_d2 = np.array(
    [[1, 20, 6], [40, 5, 70], [55, 23, 12], [78, 11, 22], [354, 351, 22]], dtype=float
)

print(first2_d)
print("Shape: ", np.shape(first2_d))

 1. print the middle element of the seconds row of this 2d array

for this you will need to use 2d indexing [rowid,columnid]

 2. print the last element of the first row

In [ ]:
print(first2_d)

print("mid element 2nd row ", first2_d[1, 1])
print("last element of first row  ", first2_d[0, -1])
print("last element of first row  ", first2_d[0, 2])
print("first element of the last row  ", first2_d[-1, 0])

similarly, we can modify elements of a 2d array
1. change the 23 in First2D to the square root of it

In [ ]:
first2_d[2, 1] = np.sqrt(23)
print(first2_d)

find where  23 is using np.where , and change it to 23 *23

In [ ]:
first2_d[np.where(first2_d == 23)] = 23 * 23

square the value, where First2D smaller than 10,

In [ ]:
print(first2_d)
first2_d[np.where(first2_d < 10)] = first2_d[np.where(first2_d < 10)] ** 2
print(first2_d)

In [ ]:
print(first2_d)
idx = np.where(first2_d < 10)
first2_d[idx] = first2_d[idx] ** 2
print(first2_d)

What does `.T` do with our 2D array?

In [ ]:
first2_d.T

In [ ]:
first2_d

In [ ]:
def my_printer(input_arr):
    dims = np.shape(input_arr)
    for i in np.arange(dims[0]):  # index for rows
        for j in np.arange(dims[1]):  # index for columns
            print("i= ", i, "j=", j, " value=", input_arr[i, j])

In [ ]:
my_printer(first2_d2)

In [ ]:
nrow, ncol = np.shape(first2_d)
print(nrow, ncol)

In [ ]:
dims = np.shape(first2_d)

In [ ]:
dims

We can use two nested/embedded `for` loops to 'iterate through' the elements of the matrix one-by-one:

In [ ]:
for i in np.arange(nrow):  # index for rows
    for j in np.arange(ncol):  # index for columns
        print("i= ", i, "j=", j, " value=", first2_d[i, j])

Change the above code, so that it adapts to the size of the 2D array. It should `print` all elements from a 2D array of any size. Use `np.shape()` to check the size of an array.

Whole rows and columns can be printed easily with the use of the index and the colon (`:`) operator.

1. print the last row
2. print the first column

In [ ]:
print(first2_d)
print("first row", first2_d[0, :])
print("last row", first2_d[-1, :])
print("first column", first2_d[:, 0])
print("last column", first2_d[:, -1])

Create a 2D array of ones: 10 row and 8 columns. To make a 2D array of ones/zeros, you need double parentheses.

In [ ]:
xx = np.ones((10, 8))

In [ ]:
xx

In [ ]:
np.ones(19)

Create a 3D array of zeros.

In [ ]:
three_d = np.zeros((5, 2, 3))

In [ ]:
three_d

In [ ]:
three_d[0, :, :]

In [ ]:
three_d[:, 0, :]

In [ ]:
three_d[:, :, 0]

Use `np.shape` to check the dimensions of what we have created.

In [ ]:
dims = np.shape(xx)
print(dims)

In [ ]:
np.shape(three_d)

Checking the shape of an array is very useful, if you want to see that what is happening is  what was intended.

## 3. Generating arrays of random numbers

This is going to be a very important tool in this course, as data simulation is very useful in modern data analysis. Data simulations, based on generated random data are often the best way to justify a data analysis process.

Run the cell below should generate a single random number between 0 and 1.

In [ ]:
np.random.rand()

By adding an argument we can create a 1D array of 100 random numbers.

In [ ]:
my_random = np.random.rand(100)
my_random

## 4. Basic data visualization

Use `plt.hist()`, to see what we have created. What does this tell us about `np.random.rand`?

In [ ]:
plt.hist(my_random, bins=10);

Or by adding 2 arguments, we get a 2D array of random values.

In [ ]:
np.random.rand(2, 3)

If we want random integer numbers we can use the `randint()` function. It takes 3 arguments that define the minimum, the maximum value, and the number of elements to return. Fill the function to make 100 random integers between 0 and 9.

In [ ]:
np.random.randint(0, 10, 100)

In [ ]:
?np.random.randint

We need a small trick, to a make a 2D array of random integers. Fill the function to make a 5*5 array of integers between -3 and 3.

In [ ]:
np.random.randint(-3, 4, (5, 5))

Another important function is to make **normally distributed** random numbers. `random.normal()` has 3 arguments, that define the mean, the standard deviation and the shape of the array to return. The standard normal distribution has mean=0 and SD=1. Make and array of 100 standard normal distributed random numbers.

In [ ]:
my_normal = np.random.normal(0, 1, 1000)

In [ ]:
np.random.normal(100, 25, 3)

In [ ]:
?np.random.normal

Now lets visualize what we have created using Matplotlib:

In [ ]:
plt.plot(my_normal);

A simple line plot in this case is not very meaningful, make a histogram instead, with `plt.hist()`. Hopefully you can see that it is approximately normally distributed. Now make a histogram for the `my_random` variable, that we created above.

In [ ]:
plt.hist(my_normal, bins=15);

As we saw, we can use `np.random.rand()`, to create 2D arrays of random numbers. No create a 7 row by 3 column array of random numbers.

In [ ]:
my_rand2d = np.random.rand(7, 3)
print(my_rand2d)

 use a `for` cycle to calculate the mean and standard deviation of each row, and `print` the result (also `print` the row number).

In [ ]:
dims = np.shape(my_rand2d)
print(dims)
for i in range(dims[0]):
    print(i, "mean", np.mean(my_rand2d[i, :]), "SD=", np.std(my_rand2d[i, :]))

for i in range(np.shape(my_rand2d)[0]):
    print(i, "mean", np.mean(my_rand2d[i, :]), "SD=", np.std(my_rand2d[i, :]))

Cycle by column.

In [ ]:
dims = np.shape(my_rand2d)
for i in range(dims[1]):
    print(i, "mean", np.mean(my_rand2d[:, i]), "SD=", np.std(my_rand2d[:, i]))

In [ ]:
len(my_rand2d)

Instead of using a `for` cycle, in fact we can use `np.mean()`, and `np.std()` to calculate the mean and standard deviation for each row directly, using an optional argument. Calculate the mean and SD for each row and each column without a `for` cycle.

In [ ]:
# print(my_rand2d)
print(np.shape(my_rand2d))
print("grand average", np.mean(my_rand2d))
print("average of rows", np.mean(my_rand2d, 1))
print("average of colunmns", np.mean(my_rand2d, 0))
print(np.shape(np.mean(my_rand2d, 1)))
print(np.shape(np.mean(my_rand2d, 0)))

1. make a random 1d-array of 40 normally distributed numbers
2. make a 2nd 1d-array of 40 random integers that are 0 or 1
3. join these two array into a 1d array of length 80
4. join these array into a 2d array of 40 rows and 2 columns

In [ ]:
n = 40
# n2=50
arr1 = np.random.normal(0, 1, n)
arr2 = np.random.randint(0, 2, n)
print(np.shape(np.concatenate((arr1, arr2))))
print(np.shape(np.column_stack((arr1, arr2))))
print(np.shape(np.row_stack((arr1, arr2))))

Below we define a relatively long array:

In [ ]:
my_rand_l = np.array(
    [
        892,
        209,
        233,
        736,
        652,
        899,
        735,
        754,
        821,
        37,
        885,
        881,
        219,
        3,
        113,
        731,
        699,
        390,
        17,
        720,
        164,
        61,
        95,
        473,
        467,
        285,
        669,
        364,
        623,
        552,
        116,
        404,
        270,
        415,
        919,
        160,
        206,
        544,
        122,
        291,
        811,
        674,
        441,
        74,
        898,
        520,
        358,
        238,
        219,
        152,
        974,
        578,
        360,
        479,
        135,
        950,
        37,
        26,
        449,
        51,
        60,
        425,
        941,
        83,
        999,
        619,
        150,
        223,
        614,
        918,
        164,
        222,
        788,
        429,
        223,
        922,
        936,
        815,
        876,
        180,
        539,
        338,
        104,
        725,
        946,
        294,
        116,
        930,
        555,
        46,
        951,
        803,
        50,
        181,
        120,
        39,
        593,
        119,
        691,
        473,
        637,
        956,
        247,
        955,
        229,
        400,
        120,
        201,
        116,
        392,
        716,
        174,
        949,
        654,
        359,
        884,
        536,
        790,
        69,
        460,
        938,
        999,
        494,
        199,
        186,
        899,
        431,
        210,
        205,
        853,
        96,
        222,
        659,
        648,
        616,
        852,
        717,
        520,
        783,
        435,
        586,
        75,
        217,
        261,
        852,
        493,
        747,
        468,
        505,
        68,
        798,
        585,
        652,
        888,
        681,
        859,
        307,
        947,
        63,
        31,
        195,
        152,
        330,
        159,
        735,
        453,
        515,
        813,
        721,
        511,
        933,
        236,
        889,
        432,
        493,
        913,
        905,
        183,
        740,
        37,
        881,
        887,
        519,
        315,
        318,
        70,
        114,
        682,
        107,
        708,
        209,
        887,
        24,
        320,
        451,
        800,
        525,
        432,
        87,
        115,
        129,
        395,
        509,
        453,
        641,
        429,
        186,
        437,
        511,
        234,
        909,
        146,
        533,
        210,
        946,
        182,
        652,
        611,
        427,
        379,
        310,
        880,
        48,
        793,
        834,
        631,
        589,
        366,
        685,
        814,
        512,
        578,
        111,
        930,
        967,
        150,
        25,
        812,
        149,
        871,
        688,
        950,
        642,
        512,
        773,
        475,
        890,
        318,
        335,
        459,
        345,
        332,
        246,
        498,
        51,
        698,
        799,
        745,
        875,
        286,
        834,
        27,
        882,
        339,
        918,
        419,
        716,
        110,
        296,
        596,
        462,
        638,
        709,
        861,
        55,
        122,
        302,
        553,
        466,
        26,
        956,
        388,
        481,
        941,
        931,
        915,
        705,
        340,
        552,
        150,
        152,
        934,
        722,
        351,
        893,
        203,
        224,
        494,
        28,
        630,
    ]
)

Calculate:
1. L=length of my_rand_l
2. proportion of values below 100
3. make a histogram MyRandL
4. what is the maximum value and where is the maximum value of MyRandL ? find the index of the maximum!

In [ ]:
l = len(MyRandl)
print(type(l))
l = np.shape(MyRandl)
print(type(l))

prop = np.sum(MyRandl < 100) / l
print(prop)

Make a copy of `my_rand_2d`, using `np.copy()`, then modifiy some values.

In [ ]:
my_rand2d_mod = np.copy(my_rand2d)

1. Make a 2D array of 5 row by 10 column of zeros called `xx1`
2. use a for cycle to change the values of each row, to the values 0:9 using `np.arange()`
3. use `plt.pcolor` to visualize what we have created

In [ ]:
xx1 = np.zeros((5, 10))
print(xx1)
for row in np.arange(np.shape(xx1)[0]):
    xx1[row, :] = np.arange(10)
print(xx1)
plt.pcolor(xx1);

## Homework 1

Let's write a function that takes as input a 1D numpy array and calculate the number of elements that are bigger than 0 but smaller than 10. Furthermore, the function should have 2 outputs:
1. The number of elements fulfilling above critera.
2. The proportion of elements fulfilling above criteria.

In [ ]:
#
#
#

## Homework 2
1. Create a 1D array (e.g., let's call it `my_rand_norm`) of 50 normally distributed random values with mean=10 and SD=4.
2. Calculate the proportion of numbers, that are smaller than 7.
3. Calculate the proportion of numbers, that are smaller 5 or bigger than 14.
4. Repeat steps 1-3 with a `for` cycle, but change the standard deviation in 10 steps from 1 to 15, and for each step calculate and print the result of the same calculations of 2-3.

In [ ]:
#
#
#

## Homework 3

write a function (e.g., you can name it `my_up_10`) that takes as an input a 2D numpy array (matrix), and calculates the number of elements that are bigger than 10 for each row. This function should return an array (e.g., let's call it `num_10_up`) that has the same length as the number of rows in the input.


1. First write a solution with a `for` cycle, where you initialize `num_10_up` with an array of zeros (equaling the number of rows).
2. Solve the task without a `for` cycle in a single line of code.


*Note:* The function should work for a 2D input arrays of any size.

In [ ]:
#
#
#

## Homework 4: Simulation and 3D array

We want to simulate an experiment with normally distributed reaction times for 80-80 trials, with 2 conditions (control and manipulation), for N participants.

1. Simulate a random array of N normally distributed reaction times -- the mean reaction time for each participant in the control condition is M = 1000ms with SD = 200ms.
2. Simulate an array of manipulation strength for each participant, average reaction time difference in manipulation condition, uniformly distributed between (-100 and +300ms).
3. Create 3D array of zeros (subjects * conditions * trials).
4. Using this new 3D array to simulate 80 normally distributed trials for both conditions and store the results in the above created 3D array (the mean of the normal distribution should be a combination of the participant mean reaction time in control condition, and effect manipulation strength). Let SD be 250ms for everyone.
5. Visualize the results of the simulation for all conditions (for each subject and averages as well).
6. Change some parameters of the simulation, and repeat the above.

In [ ]:
n_part = 15  # num of participant
ncond = 2  # number of conditions
ntr = 80  # num of trials

Storing example 1. Storing values 1 by 1 in a 2D array

In [ ]:
import numpy as np

n = 5
a = np.random.rand(n)
b = np.arange(n)
print("a: ", a)
print("b: ", b)

combinations = np.zeros((n, n))
for ca, a in enumerate(a):
    for cb, b in enumerate(b):
        combinations[ca, cb] = (
            a + b
        ) / 2.0  # I store the average of all elements of a and b in a table

print(combinations)

Storing example 2. Storing 1D numpy array of values in a 2D array:

In [ ]:
b = np.arange(n)
combinations = np.zeros((n, n))
for cb, b in enumerate(b):
    combinations[:, cb] = (np.random.rand(n) * b) / 2
print(combinations)