# Welcome to the first tutorial of Tewa 1  - this is a text cell

the goal of this tutorial is to practice the basics of python, without any libraries

learning goals:
  
  

*   boolean and conditional statements  
*   iterations: for
*   indexing
*   functions
*   Python list as a data format



@ Jozsef Arato  October/2022

below is the first code cell where we can practice basic arithmetic

just read the code, and run the cell

In [ ]:
A=3   # these are comments
B=A+1    # comments are useful to make code more understandable
C=A*2   # addition and multiplication are not very suprising in python
print('B',B)  # comma separation allows printing together stuff
print('C =',C)

B 4
C = 6

in python to raise a number to a degree as in $x^{n}$, you have to use **n   
define D below as $A^{2}$  and print the result

define E as the result of  B divided by C and print the result

In [ ]:
D = A**2
print('D: ',D)

E =B/C
print('E',E)

D:  9
E 0.6666666666666666

check what the % sign is doing as an operation, by inserting it between some numbers

if you only have a single operation in a cell, you do not need to add print to see the result

In [ ]:
10%3

1

use the type() function to check the types of A,E below
this will be important later, as many functions require int type input

In [ ]:
type(D),type(E)

(int, float)

In [ ]:
E

0.6666666666666666

In [ ]:
float(D)
type(6/2)

float

## boolean statements
check what ==, != , >,<,<=
by comparing 3,4 to A

In [ ]:
A==3,A!=3,A!=4,A>3,A>=3

(True, False, True, False, True)

## make a list containting all of the values A-E

list are defined with [], as opposed to (), which are usually operations (use of a function)

In [ ]:
MyList= [A,B,C,D,E]
print(MyList)

[3, 4, 6, 9, 0.6666666666666666]

##  for cycle
 use a for cycle to loop through all elements of MyList, print each value and also the double of each

 indenting is obligatory in python, greatly improving the readability of the code

In [ ]:
for listelement in MyList:
  print(1)
print(listelement)  #,listelement*3)

#YOUR CODE
#YOUR CODE

1
1
1
1
1
0.6666666666666666

In [ ]:
MyList

[3, 4, 6, 9, 0.6666666666666666]

 use a for cycle to add up the elements of MyList

In [ ]:
Sum=0 #  what you should do is to change the value of Sum with each iteration
for i in MyList:
  Sum=Sum+i
  print(i,Sum)
print(Sum)

3 3
4 7
6 13
9 22
0.6666666666666666 22.666666666666668
22.666666666666668

In [ ]:
sum(MyList)

22.666666666666668

In [ ]:
for number in MyList:
  print(number)

3
4
6
9
0.6666666666666666

## for cycle with range
test how to use range(N) to count with a for cycle

print numbers 0 to 8

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

Below we define a list of animals, and another list that shows their corresponding weigths

In [ ]:
Animals=['Dog','Cat','Elephant','Horse','Rat','Mouse']
Weights=[20,2,6e3,500,.3,.02] #kg
print(Animals,Weights)
print('Number of animals',len(Animals))

['Dog', 'Cat', 'Elephant', 'Horse', 'Rat', 'Mouse'] [20, 2, 6000.0, 500, 0.3, 0.02]
Number of animals 6

Add an animal of your choice to the list, also add the corresponding weight

use .append()

In [ ]:
Animals.append('racoon')
Weights.append(2)

print(Animals)

['Dog', 'Cat', 'Elephant', 'Horse', 'Rat', 'Mouse', 'racoon']

## INDEXING
in python we use [] for indexing  
and as you will see, indexing is zero based!

1. print the name of the first animal

2. print the name of the 2nd animal

3. print the name of the last animal

4. print all animals, but not the first..

In [ ]:
print(Animals)
print(Animals[0])
print(Animals[1])
print(Animals[-2])
print(Animals[:3])
print(Animals[1:])
print(Animals[0:-1])

['Dog', 'Cat', 'Elephant', 'Horse', 'Rat', 'Mouse', 'racoon']
Dog
Cat
Mouse
['Dog', 'Cat', 'Elephant']
['Cat', 'Elephant', 'Horse', 'Rat', 'Mouse', 'racoon']
['Dog', 'Cat', 'Elephant', 'Horse', 'Rat', 'Mouse']

## for cycle continued
Loop through the animals with a for loop,
1. print the name of each animal
2. and the length of their names

In [ ]:
for i in range(6):
  print(Animals[i])

Dog
Cat
Elephant
Horse
Rat
Mouse

In [ ]:
for i in Animals:
  print(i,len(i))

Dog 3
Cat 3
Elephant 8
Horse 5
Rat 3
Mouse 5

## for cycle with indexing
Loop throuh Animals, and print the names and the corresponding weights, add "kg"

eg:  Dog : 20 kg

In [ ]:
for i in range(6):
  print(Animals[i],Weights[i],'kg')

Dog 20 kg
Cat 2 kg
Elephant 6000.0 kg
Horse 500 kg
Rat 0.3 kg
Mouse 0.02 kg

# if conditional
Loop through Animals   
1. print their name only if they are heavier than 5kg
2. if they are smaller than 1kg print the "species name" "is a very small animal"

you will have to use the if and else logical statements

In [ ]:

Nanimals=len(Animals)
for i in range(Nanimals):
  print(i)
  if Weights[i]>5:
    print(Animals[i])
  elif Weights[i]<1:
    print(Animals[i],' is a very small animal')

0
Dog
1
2
Elephant
3
Horse
4
Rat  is a very small animal
5
Mouse  is a very small animal
6

In [ ]:
c=0
for i in Animals:
  print(c)
  if Weights[c]>5:
    print(i)
  elif Weights[c]<1:
    print(i,' is a very small animal')
  c=c+1

0
Dog
1
2
Elephant
3
Horse
4
Rat  is a very small animal
5
Mouse  is a very small animal
6

7

 combining conditionals

 loop through animals, and print their names only if the weigth is bigger than 10 kg AND their name is shorter than 6 characters

In [ ]:
Nanimals=len(Animals)
for i in range(Nanimals):
  print(i)
  if Weights[i]>10 and len(Animals[i])<6:  #
    print(Animals[i])

0
Dog
1
2
3
Horse
4
5
6


**more advanced: **

but we will use it later!

try using enumerate with a for cycle to solve the task above
enumerate enables writing cleaner code

### embedded for cycles:
what is the weight difference between each pair of species:

1. write two embedded for cycles, and calculate the squared difference in weigth ,
print the two species names, and the calculcated difference.

2. do not print comparison of the species to itself

In [ ]:
for i in range(Nanimals):
  for j in range(Nanimals):
    Difference=(Weights[i]-Weights[j])**2
    if i!=j:
      print(Animals[i],Animals[j],Difference)
    #print('i: ',i,'j: ',j)

Dog Cat 324
Dog Elephant 35760400.0
Dog Horse 230400
Dog Rat 388.09
Dog Mouse 399.2004
Dog racoon 324
Cat Dog 324
Cat Elephant 35976004.0
Cat Horse 248004
Cat Rat 2.8899999999999997
Cat Mouse 3.9204
Cat racoon 0
Elephant Dog 35760400.0
Elephant Cat 35976004.0
Elephant Horse 30250000.0
Elephant Rat 35996400.089999996
Elephant Mouse 35999760.00039999
Elephant racoon 35976004.0
Horse Dog 230400
Horse Cat 248004
Horse Elephant 30250000.0
Horse Rat 249700.09
Horse Mouse 249980.00040000002
Horse racoon 248004
Rat Dog 388.09
Rat Cat 2.8899999999999997
Rat Elephant 35996400.089999996
Rat Horse 249700.09
Rat Mouse 0.07839999999999998
Rat racoon 2.8899999999999997
Mouse Dog 399.2004
Mouse Cat 3.9204
Mouse Elephant 35999760.00039999
Mouse Horse 249980.00040000002
Mouse Rat 0.07839999999999998
Mouse racoon 3.9204
racoon Dog 324
racoon Cat 0
racoon Elephant 35976004.0
racoon Horse 248004
racoon Rat 2.8899999999999997
racoon Mouse 3.9204

In [ ]:



for i in range(Nanimals):
  for j in range(Nanimals):
    Difference=(Weights[i]-Weights[j])**2
    if Animals[i]!=Animals[j]:
        print(Animals[i],Animals[j],Difference)

Dog Cat 324
Dog Elephant 35760400.0
Dog Horse 230400
Dog Rat 388.09
Dog Mouse 399.2004
Dog racoon 324
Cat Dog 324
Cat Elephant 35976004.0
Cat Horse 248004
Cat Rat 2.8899999999999997
Cat Mouse 3.9204
Cat racoon 0
Elephant Dog 35760400.0
Elephant Cat 35976004.0
Elephant Horse 30250000.0
Elephant Rat 35996400.089999996
Elephant Mouse 35999760.00039999
Elephant racoon 35976004.0
Horse Dog 230400
Horse Cat 248004
Horse Elephant 30250000.0
Horse Rat 249700.09
Horse Mouse 249980.00040000002
Horse racoon 248004
Rat Dog 388.09
Rat Cat 2.8899999999999997
Rat Elephant 35996400.089999996
Rat Horse 249700.09
Rat Mouse 0.07839999999999998
Rat racoon 2.8899999999999997
Mouse Dog 399.2004
Mouse Cat 3.9204
Mouse Elephant 35999760.00039999
Mouse Horse 249980.00040000002
Mouse Rat 0.07839999999999998
Mouse racoon 3.9204
racoon Dog 324
racoon Cat 0
racoon Elephant 35976004.0
racoon Horse 248004
racoon Rat 2.8899999999999997
racoon Mouse 3.9204

# FUNCTIONS
functions are essentialy tools for computation, that enable re-using the same computations in different scenarios, thereby allowing us to write much cleaner code.
usually a function takes some input(s), performs some computation on the input(s), and returns the output(s).

1.  the function below is already completed, so that it return the first element of  the input

2. change the function that it returns the first and last element of the input

In [ ]:
def FirstFunc(myinput):
  print(Weights)
  return myinput[0]

In [ ]:
ani1=FirstFunc(Animals)

In [ ]:
ani1

'Dog'

In [ ]:
def FirstFunc(myinput):
  return myinput[0]

In [ ]:
def FirstandLast(myinput):
  return myinput[0],myinput[-1]

In [ ]:
ani1,ani2=FirstandLast(Animals)

In [ ]:
ani1

'Dog'

FUNCTIONS 2

write a function that is called MaxOfTwo that takes 2 numbers as input, a returns the bigger

In [ ]:
def MaxOfTwo(x,y):
  if x>y:
    return x # YOUD CODE
  if y>x:
    return y
  if y==x:
    return 'equal'

 if you completed the code above,
 the below should run and return 3 and 4

In [ ]:
print(MaxOfTwo(1,3))

print(MaxOfTwo(4,3))

3
4

In [ ]:
print(MaxOfTwo(3,3))

equal

## Homework  1
python general
create a function, that for an input list of interger numbers, calculates the number of odd and even numbers, returns both numbers

the code should work regardless of the length of the list

In [ ]:
def CountInt(AnyList):
  # YOUR CODE
  # YOUR CODE
  # YOUR CODE
  # YOUR CODE
  return NumEven,NumOdd

## Homework  2

common elements

write a function
that takes 2 lists as input,
and makes a new list, that contains the numbers only that occur in both lists
the output of the function should be this new list

In [ ]:
List1=[5,7,3,23,43,532,45,5,4,4,3,32,234,35,355,3,545,45,11,2,4,6,98,2,3,5,6,2,3,45,7,4,56,54,43,3]
List2=[151,1,66,44,33,22,45,23,35]