# Welcome to the first tutorial of Tewa 1

**This is a text cell**

The goal of this tutorial is to practice the basics of python, without any libraries.

Learning goals:
   
*   boolean and conditional statements  
*   iterations: for 
*   indexing
*   functions
*   Python list as a data format

Below is the first **code cell** where we can practice basic arithmetic. Just read the code, and run the cell.

---
*written by Jozsef Arato, Vienna Cognitive Science Hub, March/2022*

In [ ]:
a = 3  # these are comments
b = a + 1  # comments are useful to make code more understandable
c = a * 2  # addition and multiplication are not very suprising in python
print("b", b)  # comma separation allows printing together stuff
print("c =", c)

in python to raise a number to a degree as in $x^{n}$, you have to use `**n`   
define `d` below as $a^{2}$  and print the result

define `e` as the result of `b` divided by `c` and print the result

In [ ]:
d = a**2
print("d: ", d)

e = b / c
print("e: ", e)

check what the `%` sign is doing as an operation, by inserting it between some numbers

if you only have a single operation in a cell, you do not need to add print to see the result

In [ ]:
10 % 5

use the `type()` function to check the types of `a`,`e` below
this will be important later, as many functions require int type input

In [ ]:
type(d)

## boolean statements
check what `==`, `!=` , `>`,`<`,`<=`
by comparing `3`,`4` to `a`

In [ ]:
a != 19

## make a list containting all of the values `a` to `e`

list are defined with `[]`, as opposed to `()`, which are usually operations (use of a function)

In [ ]:
my_list = [a, b, c, d]
print(my_list)

##  for cycle
 use a `for` cycle to loop through all elements of `my_list`, print each value and also the double of each

 indenting is obligatory in python, greatly improving the readability of the code

In [ ]:
for i in my_list:
    print(i)
    print(i * 2)

 use a `for` cycle to add up the elements of `my_list`

In [ ]:
sum = 0  #  what you should do is to change the value of Sum with each iteration

for i in my_list:
    sum = sum + i  # alternatively, you can write it like this: sum += i
    print(i, sum)
    # YOUR CODE
    # YOUR CODE
sum

In [ ]:
for number in my_list:
    print(number)

## `for` cycle with range
test how to use `range(n)` to count with a `for` cycle

`print` numbers `0` to `8`

In [ ]:
for i in range(8):
    print(i)

Below we define a `list` of animals, and another `list` that shows their corresponding weigths

In [ ]:
animals = ["Dog", "Cat", "Elephant", "Horse", "Rat", "Mouse"]
weights = [20, 2, 3000, 500, 0.3, 0.02]  # kg
print(animals, weights)
print("number of animals", len(animals))

Add an animal of your choice to the `list`, also add the corresponding weight

use `append`

In [ ]:
animals.append("Racoon")  # YOUR CODE
weights.append(5)

print(animals)

## indexing
in python we use `[]` for indexing  
and as you will see, indexing is zero based!

1. `print` the name of the first animal

2. `print` the name of the 2nd animal

3. `print` the name of the last animal

4. `print` all animals, but not the first..

In [ ]:
print(animals[0])
print(animals[1])
print(animals[-2])
print(animals[1:])
print(animals[1:5])
print(animals[:5])

## `for` cycle continued
Loop through the animals with a `for` loop,
1. `print` the name of each animal 
2. and the length of their names

In [ ]:
for animal in animals:
    print(animal, len(an))

## `for` cycle with indexing
Loop throuh animals, and print the names and the corresponding weights, add "kg" 

eg:  Dog : 20 kg

In [ ]:
num = len(animals)  # YOUR CODE
for i in range(num):
    print(animals[i], weights[i])

## `if` conditional
Loop through animals   
1. `print` their name only if they are heavier than 5kg
2. if they are smaller than 1kg print the "species name" "is a very small animal" 

you will have to use the `if` and `else` logical statements

In [ ]:
for i in range(num):
    if weights[i] > 5:
        print(animals[i])
    elif weights[i] < 1:
        print(animals[i], "is a very small animal")
    else:
        print(animals[i], "neither small or big")

 combining conditionals
 
 loop through animals, and print their names only if the weigth is bigger than 10 kg **and** their name is shorter than 6 characters

In [ ]:
for i in range(num):
    if weights[i] > 10 and len(animals[i]) < 6:  # YOUR CODE
        print(animals[i])


*more advanced:*

but we will use it later!

try using `enumerate` with a `for` cycle to solve the task above
`enumerate` enables writing cleaner code

### nested `for` cycles:
what is the weight difference between each pair of species:

1. write two nested `for` cycles, and calculate the squared difference in weigth 
`print` the two species names, and the calculcated difference.

2. do not `print` comparison of the species to itself

## functions
functions are essentialy tools for computation, that enable re-using the same computations in different scenarios, thereby allowing us to write much cleaner code. Usually a function takes some input(s), performs some computation on the input(s), and returns the output(s). A function is defined with the `def` statement.

1. complete the function below, so that it return the first element of  the input

2. change the function that it returns the first and last element of the input

In [ ]:
def first_function(my_input):
    return my_input[0], my_input[-1]

In [ ]:
first_function(animals)

In [ ]:
my_input = # YOUR CODE

## functions 2

write a function that is called `max_of_two` that takes 2 numbers as input, a returns the bigger

In [ ]:
def max_of_two(# YOUR CODE):
  # YOUR CODE
  # YOUR CODE
  return # YOUR CODE

 if you completed the code above, 
 the below should run and return `3` and `4`

In [ ]:
print(max_of_two(1, 3))

print(max_of_two(4, 3))

## homework 1
python general
create a function, that for an input list of integer numbers, calculates the number of odd and even numbers, returns both numbers

the code should work regardless of the length of the list

In [ ]:
def count_int(any_list):
    # YOUR CODE
    # YOUR CODE
    # YOUR CODE
    # YOUR CODE
    return num_even, num_odd

## homework  2

common elements

write code that makes a new list, that contains the numbers only that occur in both lists

In [ ]:
list_1 = [
    5,
    7,
    3,
    23,
    43,
    532,
    45,
    5,
    4,
    4,
    3,
    32,
    234,
    35,
    355,
    3,
    545,
    45,
    11,
    2,
    4,
    6,
    98,
    2,
    3,
    5,
    6,
    2,
    3,
    45,
    7,
    4,
    56,
    54,
    43,
    3,
]
list_2 = [151, 1, 66, 44, 33, 22, 45, 23, 35]